# yaml-language-server: $schema=https://json.schemastore.org/golangci-lint.json
linters:
  enable:
    - bodyclose
    - errcheck
    - forcetypeassert
    - gosimple
    - govet
    - ineffassign
    - nilerr
    - prealloc
    - rowserrcheck
    - sqlclosecheck
    - staticcheck
    - unused
    - wastedassign
    - wrapcheck
    - gofmt
    - goimports
    - misspell
    - revive
    - unconvert
    - unparam
    - nakedret
    - noctx
    - errorlint
    - gocyclo

linters-settings:
  gocyclo:
    min-complexity: 15
  errcheck:
    check-blank: true
  revive:
    rules:
      - name: atomic
      - name: blank-imports
      - name: bool-literal-in-expr
      - name: context-as-argument
      - name: context-keys-type
      - name: error-return
      - name: error-strings
      - name: error-naming
      - name: exported
      - name: indent-error-flow
      - name: package-comments
      - name: range
      - name: receiver-naming
      - name: time-naming
      - name: unexported-return
      - name: unnecessary-stmt
      - name: unreachable-code
      - name: unused-parameter
      - name: unused-receiver
      - name: use-any

run:
  timeout: 5m
  issues-exit-code: 1
  tests: true
