terraform {
  required_version = ">= {{ tofu_version }}"

  required_providers {
    # nomad = {
    #   source  = "hashicorp/nomad"
    #   version = "~> 2.6"
    # }
    # aws = {
    #   source  = "hashicorp/aws"
    #   version = "~> 5.0"
    # }
    # google = {
    #   source  = "hashicorp/google"
    #   version = "~> 6.0"
    # }
    # postgresql = {
    #   source  = "cyrilgdn/postgresql"
    #   version = "~> 1.22"
    # }
  }
}
