<Project>
  <PropertyGroup>
    <ManagePackageVersionsCentrally>true</ManagePackageVersionsCentrally>
  </PropertyGroup>

  <ItemGroup>
    <!-- Microsoft packages -->
    <!-- <PackageVersion Include="Microsoft.Extensions.DependencyInjection" Version="10.0.0" /> -->

    <!-- Third-party packages -->
    <!-- <PackageVersion Include="Serilog" Version="4.2.0" /> -->

    <!-- Testing (add to test project only) -->
    <!-- <PackageVersion Include="xunit" Version="2.9.3" /> -->
    <!-- <PackageVersion Include="NUnit" Version="4.3.2" /> -->
    <!-- <PackageVersion Include="coverlet.collector" Version="10.0.1" /> -->
    <!-- <PackageVersion Include="Microsoft.NET.Test.Sdk" Version="17.14.0" /> -->
  </ItemGroup>
</Project>
