linters:
  enable:
    - errcheck
    - gosimple
    - govet
    - ineffassign
    - staticcheck
    - unused
    - gofmt
    - goimports
    - misspell
    - revive
    - unconvert
    - unparam
    - nakedret
    - noctx
    - errorlint
    - gocyclo

linters-settings:
  gocyclo:
    min-complexity: 15
  errcheck:
    check-blank: true
  revive:
    rules:
      - name: blank-imports
      - name: context-as-argument
      - name: context-keys-type
      - name: error-return
      - name: error-strings
      - name: error-naming
      - name: exported
      - name: indent-error-flow
      - name: package-comments
      - name: range
      - name: receiver-naming
      - name: time-naming
      - name: unexported-return
      - name: unnecessary-stmt
      - name: unreachable-code

run:
  timeout: 5m
  issues-exit-code: 1
  tests: true
